:root{
    /*Colores*/
    --background-white: #fff;
    --background-red: #980e01;
    --background-skyblue: #318ce7;
    --background-orage : #ee8c00;
    --background-green: #73d673;
}
html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-image: url(./assets/Fondo.jpg);
    text-align: center;
}
header{
    width: 100%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
    color: black;
}
header h1{
    align-self: center;
}

.cuadrado{
    display: inline-block;
    min-width: 280px;
    min-height: 200px;
    width: 90%;
    background-color: var(--background-red);
    text-align: center;
    border-radius: 16px;
    margin-top: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 1.2rem;
    color: #fff;
    box-shadow: 12px 12px 12px rgb(0 0 0 / 40%);
}
.cuadrado div{
    margin: 20px;
    height: 100%;
}
.cuadrado h2{
    display: inline-block;
    width: 90%;
    text-align: center;
}
.cuadrado .informacion-cuadrado{
    margin-top: 10px;
    display: inline-block;
    font-size: 1.6rem;
}
input{
    text-align: center;
    margin-top: 10px;
    width: 80%;
    height: 35px;
    border-radius: 10px;
    border-style: none;
    box-shadow: 6px 12px 12px rgb(0 0 0 / 60%);
}
button{
    margin-top: 0px;
    width: 120px;
    height: 35px;
    border-style: none;
    border-radius: 12px;
    box-shadow: 6px 12px 12px rgb(0 0 0 / 60%);
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
}

.triangulo{
    display: inline-block;
    min-width: 280px;
    min-height: 200px;
    width: 90%;
    background-color: var(--background-skyblue);
    text-align: center;
    border-radius: 16px;
    margin-top: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 1.6rem;
    color: #fff;
    box-shadow: 12px 12px 12px rgb(0 0 0 / 40%);
}
.triangulo div{
    margin: 20px;
    height: 100%;
}
.triangulo p{
    font-size: 1.6rem;
}
.triangulo .informacion-triangulo{
    margin-top: 10px;
    display: inline-block;
    font-size: 1.6rem;
}
.triangulo .informacion-calc{
    display: inline-block;
    margin-top: 20px;
}
.triangulo button{
    margin-top: 10px;
}
.isoceles{
    display: inline-block;
    min-width: 280px;
    min-height: 200px;
    width: 90%;
    background-color: var(--background-orage);
    text-align: center;
    border-radius: 16px;
    margin-top: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 2.2rem;
    color: #fff;
    box-shadow: 12px 12px 12px rgb(0 0 0 / 40%);
}
.isoceles div{
    margin: 20px;
    height: 100%;
}
.isoceles h5{
    display: inline-block;
    width: 90%;
    text-align: center;
}
.informacion-isoceles{
    margin-top: 10px;
    display: inline-block;
    font-size: 1.6rem;
}
.isoceles button{
    margin-top: 10px;
}
.circulo{
    display: inline-block;
    min-width: 280px;
    min-height: 200px;
    width: 90%;
    background-color: var(--background-green);
    text-align: center;
    border-radius: 16px;
    margin-top: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 1.6rem;
    color: #fff;
    box-shadow: 12px 12px 12px rgb(0 0 0 / 40%);
}
.circulo div{
    margin: 20px;
    height: 100%;
}

.circulo .informacion-circulo{
    margin-top: 10px;
    display: inline-block;
    font-size: 1.6rem;
}
.circulo button{
    margin-top: 10px;
}
footer{
    margin-top: 20px;
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
}
footer p{
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
    margin-top: 15px;
}
footer a img{
    display: inline-block;
    width: 35px;
}